[2019-07-12 14:02] thchia opened #1 "🏅 Hooks: All About Render"
Speaker Profile
---
My name is Thomas. I am a front end developer who loves React. My other interests include casual Minesweeper and listening to music in foreign languages I don’t understand.

Intro
---

When hooks were introduced in React, much ado was made about how they afforded a cleaner, more shareable way to manage state.

In this talk I focus on the _other_ consequence - rethinking a compo

[2019-07-13 16:16] SmokinClove opened #2 "👞 Dancing with React Hooks"
speaker profile
---
My name is Van. I am a front end developer at Shopee Singapore. In no particular order i like music, coffee, cats, books, black color, Hosoya Yoshimasa.

intro
---

React Hooks is THE hot thing now. More and more people can teach you how to use React Hooks, how they work, what the rules are and why.

What did you first use React Hooks to make? For me, it was to let someone danc

[2019-07-15 06:43] wgao19 opened #3 "<RKLightning issue={1} />"
- 🗓 Date: **Aug 6**
- 🗺 Venue: **Carousell** – Keppel Towers 2, 240 Tanjong Pagar Road, #12-00, Singapore 088540
- 🚀 [Link to RSVP](https://www.meetup.com/React-Knowledgeable/events/263198659/)

## `<RK />` this month

Hello, this will be the first `<RKLightning />` in town! We're excited but also a bit nervous. So if you are thinking of speaking, we share the excitement as well as the nerve XD Bu

[2019-07-15 06:56] wgao19 commented on #1
Hey Thomas, great to have you on our first event!!

We need one more piece of information, how many minutes do you need to ⚡️？You have the options of 7, 8, 9, or 10 minutes.

Referencing #3

[2019-07-15 11:43] thchia commented on #1
Because I am somewhat auspicious, I will go for 8 minutes ✌️

[2019-07-16 17:56] wgao19 opened #4 "🤦🏻‍♀️ Running a React podium where no one talks about React"
speaker profile
---
My name is Wei. I self-identify as a work in progress React developer. I love our local tech community here. You can see me around often, most likely at `<RK />`, Talk.CSS, or any event that teaches me the skills to spam this world with websites.

intro
---

I run this meetup. My most relevant activity to this meetup and, in turn, this talk, is that I've been running a similar

[2019-07-18 00:07] email2vimalraj opened #5 "💨 Build and deploy a blog under 10 minutes with JAMstack"
speaker profile
---
My name is Vimalraj Selvam. I am a Staff Software Engineer at Visa Worldwide Pte Ltd. I recently gave a talk in Berlin at GraphqlConf 2019 about Scaling GraphQL subscriptions. I build various visualisation tools using React for my company which is heavily used by the command center teams. I am mostly reachable via [twitter](https://twitter.com/email2vimalraj).

intro
---

I'd l

[2019-07-18 00:26] wgao19 commented on #5
Cool :) See you on Aug 6!
( Referencing #3 )

[2019-07-27 10:23] yishus opened #6 "🍱 5 things you need to know about react-cache"
speaker profile
---
Yishu, does not like google forms. Spends waking hours at Carousell.

intro
---

`react-cache` is pretty exciting, let's share this excitement

planner
---
- I prefer to give this talk at: Aug
- Number of minutes needed to ⚡️: 7

[2019-07-28 11:10] wgao19 commented on #6
Thank you! So glad I won't miss this talk eventually :] See you Aug 6! #3

[2019-07-29 16:40] wgao19 opened #7 "⚛ React this month – Aug 2019"
Hi React people in this town, we're opening proposals to the opening React updates for our first event in Aug 6, #3 ⚛︎

How to participate
---
If you'd like to conduct this sharing, **reply this issue** and list your proposed items to share (as of today). We'll pick a list that seems most interesting by Sunday, Aug 4.

If someone's list seems interesting to you, you can add emojis to it :))))

[2019-07-29 16:40] wgao19 commented on #7
Proposed happenings in React in July of 2019
---
### [Algebraic Effects for the Rest of Us](https://overreacted.io/algebraic-effects-for-the-rest-of-us/)

Intuitively introduces algebraic effects, which invites us to think more thoroughly about effect handling in a perform - resume process, feels like try catch but more powerful! Presumptuous ES2025 proposal 😈

![](https://overreacted.io/static/5f

[2019-08-01 06:37] Dlearn opened #8 "🖼 Image Compression on Javascript"
## Speaker profile
---

My name is Dylan. I am interested in participating more in the Web dev community. I'm an atypicaly extroverted software engineer who loves speaking. I am mostly reachable via I have no idea, twitter? @dlaern or github?

## Intro
---

I'd like to speak about Image compression using pure javascript. Recently, we've implemented this during our migration project, and it was coo

[2019-08-01 09:29] wgao19 commented on #8
Great, you're on #3  :))))

[2019-08-06 06:22] wgao19 opened #9 "<RK⚡️ issue={2} /> Thursday, Sept 5"
- 🗓 Date: Sept 5, 2019
- 🗺 Venue: Hackerspace SG, 344B King George’s Avenue
- 🦄 Host: @wgao19

## `<RK />` this month

This month, we have our magic girl [@bokukage](https://mobile.twitter.com/bokukage) on a hooks talk about her drawing moon walk and duck walk on a screen. It's super cool you absolutely have to see this.

We'll also have a mysterious friend (hint: you may know him! or her!) to joi

[2019-08-06 06:40] wgao19 opened #10 "⚛ React this month – Sept 2019"
Hi React people in this town, we're opening proposals to the opening React updates for our first event in Sept 5, #9

How to participate
---
If you'd like to conduct this sharing, **reply this issue** and list your proposed items to share. You may keep editing your proposal. We'll pick a list that seems most interesting by Tuesday, Sept 3.

[2019-08-06 16:56] wgao19 commented on #8
Hey @Dlearn could you please update your slides here :)))) thanks!

[2019-08-06 16:57] wgao19 commented on #4
resources
---
- [video](https://engineers.sg/video/running-a-react-podium-where-no-one-talks-about-react-react-knowledgeable--3590)
- post, resources, and slides [here](https://uuei.io/talks/running-a-react-podium-where-no-one-speaks-about-react/)

[2019-08-06 16:57] #4 closed, assigned to nobody

[2019-08-06 16:58] wgao19 commented on #6
Hi @yishus could you please update your slides here :]

- [video](https://engineers.sg/v/3587)

[2019-08-06 17:00] wgao19 commented on #8
[video](https://engineers.sg/video/image-compression-on-javascript-react-knowledgeable--3591)

[2019-08-06 17:02] #7 closed, assigned to nobody

[2019-08-06 17:03] wgao19 commented on #1
Video
---
- [here](https://engineers.sg/video/hooks-all-about-render-react-knowledgeable--3589)

[2019-08-06 17:03] wgao19 commented on #1
hiiii @thchia please update your slides thanks :)))))

[2019-08-06 17:04] #3 closed

[2019-08-06 17:05] wgao19 commented on #5
Hi @email2vimalraj nice meeting you here! Could you please update your slides :))))) Thanks and hope to have you again!

Resources
---
- [video](https://engineers.sg/video/build-and-deploy-a-blog-under-10-minutes-with-jamstack-react-knowledge--3588)

[2019-08-06 23:56] thchia commented on #1
# Slides

[here](https://docs.google.com/presentation/d/1w5NT-j9JHIkagNyql2Y_3OdYrqYvqN-gChQ43qfB-Jk)

[2019-08-07 00:42] wgao19 commented on #1
Thank you!

[2019-08-07 00:42] #1 closed, assigned to nobody

[2019-08-07 01:08] email2vimalraj commented on #5
Demo github repo: https://github.com/email2vimalraj/rk-meetup-talk-demo

[Slides](https://github.com/email2vimalraj/rk-meetup-talk-demo/blob/master/rk-meetup-presentation.key?raw=true)

[2019-08-07 04:57] yangshun opened #11 "🦖 How Modern Static Site Generators Work"
## Speaker Profile

My name is Yangshun. I am a Front End Engineer at Facebook. I'm reachable on Twitter ([@yangshunz](https://twitter.com/yangshunz))

## Intro

I'd like to talk about the architecture of modern SSGs (static site generators) and how they work.

Jekyll, Hexo, and Hugo are few of the earliest static site generators to have been invented and they have been used to build a significant

[2019-08-07 06:24] wgao19 commented on #11
Amazing! I'm so personally looking forward to this talk 💃 Thank you for speaking here!!

[2019-08-07 06:25] wgao19 commented on #11
Referencing #9

[2019-08-08 07:08] wgao19 commented on #5
Great, thank you!

[2019-08-08 07:08] #5 closed, assigned to nobody

[2019-08-09 08:39] wgao19 opened #12 "<RK⚡️ issue={3} /> - Thursday, Oct 10"
- 🗓 Date: Thursday, October 10
- 🗺 Venue: SP Digital
- 🦄 Host: @thchia
- 🔖 RSVP: https://www.meetup.com/React-Knowledgeable/events/264767450/

## `<RK />` this month

To propose a talk, [create an issue here](https://github.com/react-knowledgeable/talks/issues/new?assignees=&labels=event&template=event.md&title=%3CRK+%2F%3E+%23+-+date) and reference **this issue**.

Agenda
---
- **19:00** Door ope

[2019-08-09 14:40] wgao19 commented on #10
⚛️ [React 16.9 is out](https://reactjs.org/blog/2019/08/08/react-v16.9.0.html)
---
- more UNSAFE_ lifecycle methods
- deprecated unheardof stuff
- acync act() for testing
- Performance Measurements with <React.Profiler>
- need to wait longer for a combined release of concurrent mode + suspense for data
fetching `¯\_(ツ)_/¯` i am not even surprised

🛠 [New DevTools](https://reactjs.org/blog/2019/08/

[2019-08-09 14:44] thchia commented on #10
React 16.9 same birthday as Singapore.

[2019-08-10 00:54] email2vimalraj opened #13 "💄 Build a Gatsby Theme and publish"
speaker profile
---
My name is Vimalraj Selvam. I am a Staff Software Engineer at Visa Worldwide Pte Ltd. I build various visualisation tools using React for my company which is heavily used by the command center teams. I am mostly reachable via [twitter](https://twitter.com/email2vimalraj).

intro
---

I'd like to speak about **Build a Gatsby theme and publish**. Here's a little more background a

[2019-08-10 05:23] wgao19 commented on #13
Great to have you and looking forward to hearing about Gatsby Themes!
Referencing September issue #9

[2019-09-04 17:39] wgao19 opened #14 "👥 Are React and CSS Friends?"
speaker profile
---
@wgao19 who likes to spam this world with websites.

intro
---

I normally don't like such controversial name. But this is exactly what this talk about. The point is not to create another Twitter war but to propose some thoughts and see we think they make sense or not.

- [slides](https://uuei.io/talks/cream-pencil-crayon/)
- [video](https://www.youtube.com/watch?v=UfUGIPac_7k)

[2019-09-04 17:43] wgao19 opened #15 "⚒ Adding React DevTools to Your Swiss Army Tools of Coding with React"
speaker profile
---
Wei (@wgao19) a React web developer

intro
---

[React DevTools](https://github.com/facebook/react/tree/master/packages/react-devtools) [v4](https://github.com/facebook/react/blob/master/packages/react-devtools/CHANGELOG.md#400-august-15-2019) and the `<Profiler />` profiler are released (unmarked as unstable) recently. Let's check out how to use them to debug and profile our R

[2019-09-05 11:47] thchia opened #16 "🤕 Battle Stories: Portals"
---

intro of the talk
---

This is not a fairytale talk. This talk is about a real life situation where I solved a particular problem with Portals.

planner
---
- I prefer to give this talk at: #9
- Number of minutes needed to ⚡️: 7

[2019-09-05 15:20] wgao19 commented on #15
~~on a second thought, i don't like doing overview kind of talk, i thereby reserve the right to change this topic~~

apparently i'm stuck with devtools for this month :)

[2019-09-05 15:21] #14 closed, assigned to nobody

[2019-09-05 15:21] wgao19 commented on #10
thank you @thchia for delivering this together!

[2019-09-05 15:21] #10 closed, assigned to wgao19

[2019-09-05 15:22] #8 closed, assigned to nobody

[2019-09-05 15:26] SmokinClove commented on #2
Slides here https://docs.google.com/presentation/d/1mrGSHBNYoUlMYrOWZ6BMiJ4rCvfJqIq1XgTuPkePkkM/edit?usp=sharing
Thanks for being there folks!

[2019-09-05 15:29] wgao19 commented on #2
thank you for the amazing talk!

[2019-09-05 15:29] #2 closed, assigned to nobody

[2019-09-05 16:20] wgao19 commented on #16
amazing gcoing!!!! [video here](https://engineers.sg/v/3639)

[2019-09-05 16:20] #16 closed, assigned to nobody

[2019-09-06 13:55] email2vimalraj commented on #13
Slide: https://github.com/email2vimalraj/gatsby-theme-like-post/blob/master/build-gatsby-theme-talk.key
Demo repo: https://github.com/email2vimalraj/gatsby-theme-like-post

[2019-09-06 15:50] yangshun commented on #11
Thanks for attending the talk! My slides can be found here for those who are interested:
[React Knowledgeable - How Modern Static Site Generators Work.pdf](https://github.com/react-knowledgeable/react-knowledgeable-talks/files/3584661/React.Knowledgeable.-.How.Modern.Static.Site.Generators.Work.pdf)

[2019-09-06 16:31] wgao19 commented on #13
video: https://engineers.sg/v/3638

thank you :)

[2019-09-06 16:31] #13 closed, assigned to nobody

[2019-09-06 16:32] wgao19 commented on #11
thanks for speaking! your talk video will be posted over the weekend, will update once they're posted

[2019-09-06 16:32] #6 closed, assigned to nobody

[2019-09-06 16:33] #9 closed

[2019-09-10 00:59] #11 closed, assigned to nobody

[2019-09-10 17:22] wgao19 opened #17 "⚛ React this month – Oct 2019"
React updates tracker issue for Oct 2019, #12

[2019-09-11 05:57] omonk opened #18 "🔐 Gatsby w/ authentication... and hooks"
who are you and where to find you
---
Ollie Monk - [twitter](https://twitter.com/ollie_monk)

intro of the talk
---

Gatsby can manage authentication pretty well, but how do we take it to the next level with everyone's favourite React API - Hooks! I'll be detailing how to integrate authentication with Swizec's awesome [`useAuth`](https://github.com/Swizec/useAuth) library.

planner
---
- I prefer

[2019-09-13 08:49] email2vimalraj opened #19 "🤖 Let bot refactor the code"
who are you and where to find you
---
My name is Vimalraj Selvam. I am a Staff Software Engineer at Visa Worldwide Pte Ltd. I build various visualisation tools using React for my company which is heavily used by the command center teams. I am mostly reachable via [twitter](https://twitter.com/email2vimalraj).

intro of the talk
---

With evolving changes in the Javascript ecosystem, the libraries

[2019-09-14 04:37] wgao19 commented on #19
great :) looking forward 👩🏻‍🌾

[2019-09-22 03:30] wgao19 opened #20 "<RK⚡️ issue={4} /> - Nov 7, 2019"
- 🗓 Date: Nov 7, 2019
- 🗺 Venue: GovTech Hive
- 🦄 Host: @yishus

## `<RK />` this month

This month before Nov 7, [React Advanced](https://reactadvanced.com/) _and_ [React Conf](https://conf.reactjs.org/) will happen, same weekend 🙈 Some of us will be watching videos day and night then, very exciting.

Our [hacktoberfest challenge](https://github.com/react-knowledgeable/rk-community-site/issues/31

[2019-09-22 03:33] wgao19 opened #21 "<RK⚡️ issue={5} specielEdition="RK x Gatsby / JAMstack" /> - Dec 12, 2019"
- 🗓 Date: Dec 12, 2019
- 🗺 Venue: TBD (we need venue!)
- 🦄 Host:

## `<RK />` this month

This will be an end of the year, "RK x Gatsby / JAMstack" special event :)

To propose a **Gatsby / JAMstack** talk, [create an issue here](https://github.com/react-knowledgeable/talks/issues/new?assignees=&labels=event&template=event.md&title=%3CRK+%2F%3E+%23+-+date). We'll reference your talk under this iss

[2019-09-22 05:48] nutstick opened #22 "⚡️ Incredible usage of GraphQL's schema ✡️"
who are you and where to find you
---
My name is Nuttapat Kirawittaya. I'm a react-native developer at Shopee. I love GraphQL.

intro to the talk
---

GraphQL is a query language for your API. There are a lot of benefits gained if you using it. For my point of view, the best benefit of GraphQL is not that we can reduce number of requests or prevent overfetching. The best feature of GraphQL is sche

[2019-09-22 06:22] wgao19 commented on #17
- DevTools 4.1, 4.2 released
  - Props/state editor supports ([#16612](https://github.com/facebook/react/pull/16700))
  - "Highlight updates" is back ([#16989](https://github.com/facebook/react/pull/16989))
- Flow [v0.107](https://github.com/facebook/flow/releases/tag/v0.107.0), [v0.108](https://github.com/facebook/flow/releases/tag/v0.108.0), [v0.109](https://github.com/facebook/flow/releases/tag

[2019-10-02 23:52] thchia opened #23 "⛰ Heaps: Magic"
who are you and where to find you
---
I am Thomas, annoyer of meetup attendees. You can find me on Twitter at @th___chia ... and at meetups.

intro of the talk
---

React 16.10 featured a move from using an array to a binary heap in the implementation of a priority queue. I briefly look at why this was done and show the magic of binary heaps (hint: there will be a bit of maths, like really tiny bi

[2019-10-03 11:49] tanhauhau opened #24 "⚡️ web assembly"
I want to learn about web assembly, so I force myself to learn by having to prepare a talk.

who are you and where to find you
---

I'm Tan Li Hau, currently front-end developer at Shopee.
You can find me from lihautan.com, twitter.com/lihautan, github.com/tanhauhau

intro of the talk
---

planner
---
- I prefer to give this talk at: https://github.com/react-knowledgeable/react-knowledgeable-talks

[2019-10-04 01:33] JennieJi commented on #17
React router v5.1.x released, now we have more hooks: useParams, useLocation, useHistory, and useRouteMatch hooks : https://github.com/ReactTraining/react-router/releases

[2019-10-06 02:17] wgao19 commented on #24
github issue can't validate content but a description / intro of the talk is required, and plz also provide a more respectful estimate of time, closing because we don't want other people to follow suite

if you've learned about web assembly and have found something interesting to share, plz submit again

suggestions for re-submission:
- include a description of the talk
- please consider taking on

[2019-10-06 02:17] #24 closed, assigned to nobody

[2019-10-08 15:18] phamtm opened #25 "🧞‍♂️ Supercharge redux with Immer.js"
who are you and where to find you
---
My name is Minh Pham. I am an enterprise engineer from Facebook. Most of the stuffs I built are internal apps that helps with the logistic side of our business. I am a full stack developer but not long ago I spent all of my time in React land.

intro of the talk
---
Making the state of your react apps immutable has several upsides (easier to optimize rendering

[2019-10-09 11:35] wgao19 commented on #25
cooooool, looking forward

high praise from sebastian ah, looking forward +1

[2019-10-11 15:40] #12 closed

[2019-10-11 18:52] #17 closed, assigned to nobody

[2019-10-11 18:53] wgao19 commented on #23
Thank you, bravo!

[2019-10-11 18:53] #23 closed, assigned to nobody

[2019-10-11 18:53] wgao19 commented on #18
Hi @omonk do you have slides to share?

[2019-10-11 18:55] wgao19 commented on #19
Thank you @email2vimalraj for the talk, it was so cool! I'll likely be building something related in the near future and would definitely love to look into your repo (after you make it public, and no hurries). And maybe discuss about that too :)

[2019-10-11 18:56] wgao19 commented on #15
- [slides](https://uuei.io/talks/react-dev-tools/)

[2019-10-11 18:56] #15 closed, assigned to nobody

[2019-10-11 18:57] wgao19 opened #26 "⚛ React this month – Nov 2019"
React updates tracker issue for Nov 2019, #20. Assigning to @yishus cuz she said she'll take it :]

[2019-10-15 10:35] wgao19 commented on #22
moved to #20

[2019-10-16 08:13] yishus commented on #22
cool @nutstick would you be ready to speak at #20? And we'll need your help to expand on your talk's description, plus the number of minutes you would need for the talk

[2019-10-16 08:14] yishus commented on #25
thanks for submitting @phamtm! looking forward to it :)

[2019-10-16 08:59] nutstick commented on #22
Okay sure.

[2019-10-19 07:17] KenLSM opened #27 "📱 Nuances of React Native"
who are you and where to find you
---
Hey, this is Ken here. I am a react-native developer from Shopee.

intro of the talk
---

Having not delivered production code in React Native previously before joining my current company, there were many times things were different in React Native and React. In this short pointed bullet points, I will quickly run through nuances of React Native when setting f

[2019-10-21 06:04] wgao19 commented on #27
cool :)

[2019-10-29 04:46] zainfathoni opened #28 "🧪 Gaining Confidence in React App through Testing"
who are you and where to find you
---
I'm [Zain Fathoni](https://www.zainfathoni.com), a Senior Software Engineer at [Ninja Van](https://www.ninjavan.co).
You can reach me through [Telegram](https://t.me/zainfathoni) or [Twitter](https://twitter.com/zainfathoni).

intro of the talk
---

Have you ever felt that writing tests are merely a ritual to increase the code coverage without gaining any sign

[2019-10-29 06:04] wgao19 commented on #28
Hi @zainfathoni , thank you for bringing this talk to RK!
Got one comment and one question --
- regarding time slot, please do try to fit this into 10 mins ⚡️ we love & share the spirits of lightning talk a lot please give it a try
- regarding topic and which event to deliver this, our upcoming event #20 is actually open for one more talk, i'm wondering if you can make it to next Thursday, nov 7?

[2019-10-29 06:39] zainfathoni commented on #28
Hi @wgao19 ,

- Sure, I will try to squeeze the slides and send you another preview soon.
- I was not aware of that. I thought the upcoming event slot is full already. 😅
  I want to present this as soon as possible. So yes, I can make it to next Thursday, Nov 7.
  I just updated the issue description to the #20 event. Thanks!

[2019-10-29 07:23] yishus commented on #26
- [React Prereleases](https://reactjs.org/blog/2019/10/22/react-release-channels.html)
- Relay [v7.0.0](https://github.com/facebook/relay/releases/tag/v7.0.0)
- Concurrent Mode [docs](https://reactjs.org/docs/concurrent-mode-intro.html)
  - [Integration with Relay](https://relay.dev/docs/en/experimental/a-guided-tour-of-relay#loading-states-with-suspense)
- react-beautiful-dnd [v12.0.0](https://gi

[2019-10-29 07:37] yishus commented on #26
Interesting reads
- [19 Takeaways From React Conf 2019](https://blog.anthonymorris.dev/19-takeaways-from-react-conf-2019)
- [Portals with Context](https://reacttraining.com/blog/portals-with-context/)
- [Immutable JavaScript Data Structures with Immer](https://egghead.io/courses/immutable-javascript-data-structures-with-immer)

Tools
- [Reakit](https://reakit.io)

[2019-10-29 07:51] wgao19 commented on #28
Cool, looking forward to your talk @zainfathoni!

[2019-10-29 07:53] wgao19 commented on #26
hi @yishus would u like to PR the site so that the content will show up on the slides?

speaking of this, maybe eventually we’ll fetch this content from GH issue directly

[2019-10-29 07:57] yishus commented on #26
oh yea i'm using this space as draft before PR-ing to the site :)

[2019-10-31 02:32] swyxio opened #29 "🐈 Intro to Netlify for React Developers"
who are you and where to find you

swyx, @swyx
---

intro of the talk
---

Intro to Netlify with demos of advanced features with RK's site.

resources
---
- video
  https://engineers.sg/v/3830

planner
---
- I prefer to give this talk at: react-knowledgeable/events#5
- Number of minutes needed to ⚡️: 30

**Edit** by @wgao19 - reference issue transferred to the events repo

[2019-10-31 02:46] swyxio commented on #29
given that the meetup is jamstack focused, i might do a different talk or a shorter talk. up to u all

[2019-10-31 05:04] thchia commented on #29
@sw-yx we are trying to keep the talks lightning format, which means under 10mins 😅. Perhaps something netlify related?

As it coincides with the launch of JAMstack Singapore, we will do some intro-to-JAMstack style talks so perhaps looking at tooling like netlify might work on that theme (I know it’s rather more basic than your usual style tho).

[2019-10-31 11:55] wgao19 commented on #29
hey 👋 @sw-yx

lets’s keep it simple, both react and jamstack topics are fine, make sure it’s lightning ⚡️ and plz talk about whichever you feel like the most / most interesting

[2019-10-31 12:03] wgao19 commented on #19
closing since it’s past :)

[2019-10-31 12:03] #19 closed, assigned to nobody

[2019-11-01 02:02] swyxio commented on #29
😂ok but i’m  happy to do a full talk next time

i’ll do an intro to netlify for react devs then. 10 mins

[2019-11-03 06:02] wgao19 commented on #29
hey @sw-yx cool let's talk about Netlify :D

In the mean time, _no hard sell_ but we offer to make your talk more connected with us because we use Netlify in [our community site](https://reactknowledgeable.org/)
- u can say we're exploiting netlify preview because some of our bad developers (like myself) just code and test on preview XD
- we're also saving our tokens in Netlify
- @thchia is buildi

[2019-11-03 11:02] #18 closed, assigned to nobody

[2019-11-03 19:06] swyxio commented on #29
ok

[2019-11-09 04:11] thchia opened #30 "🍯 Deconstructing the JAM"
who are you and where to find you
---
Thomas Chia. Find me at meetups.

♥️ not h8️⃣
Twitter: @th__chia
GitHub: thchia

intro of the talk
---

Everyone is talking about JAMstack, but what actually is it? In this talk I deconstruct the J-A-M and demystify its not-so-secret recipe.

resources
---
- [Slides](https://docs.google.com/presentation/d/1gr294EhEn-Gmwyc6mvoujWfJhGqMvHs7Y8BpLzZcIn8)
- [Video]

[2019-11-09 06:33] #20 closed

[2019-11-09 06:39] wgao19 commented on #28
Hi @zainfathoni , thanks for the talk! By the way, a lot of people are asking about the code presenting library that you're using. Could you please put up a link to that as well?

[2019-11-09 06:40] wgao19 commented on #28
resources
---
- **video** by the world classly @engineersftw
  https://engineers.sg/video/gaining-confidence-in-react-app-through-testing-react-knowledgeable--3755
- **slides**
  https://confident-react-testing.netlify.com/

[2019-11-09 06:41] wgao19 commented on #22
Resources
---
- **video**
  https://engineers.sg/video/incredible-usage-of-graphql-s-schema-react-knowledgeable--3756

[2019-11-09 06:41] wgao19 commented on #22
Hey @nutstick, thanks for the talk! Hope to hear from you again :)

[2019-11-09 06:41] #22 closed, assigned to nobody

[2019-11-09 06:43] wgao19 commented on #25
Hey @phamtm do you mind putting a link to your slides?

Resources
---
- **video** by the world classly @engineersftw
  https://engineers.sg/video/supercharge-redux-with-immer-js-react-knowledgeable--3758

[2019-11-09 06:44] wgao19 commented on #27
Hey @KenLSM could you please add link to your slides?

- **video** by the world classly @engineersftw
  https://engineers.sg/video/nuances-of-react-native-react-knowledgeable--3757

[2019-11-09 08:15] thorsten-stripe opened #31 "💸 (Ec)static Commerce"
speaker
---
Hello, I'm [Thor](https://twitter.com/thorwebdev) (雷神), a Developer Advocate at Stripe working with many different technologies on the web to grow the GDP of the internet. Having spent most of my time with Stripe users in Europe, I recently moved to Singapore to learn from and all about APAC's developer communities.

intro
---

In this hands-on ⚡️talk we'll explore how we can use Gatsb

[2019-11-09 11:14] zainfathoni commented on #28
# Resources

* **Talk Page** in my personal website
  https://zainfathoni.com/talk/react-knowledgeable-meetup-4
* **Slides Repository**
  https://github.com/zainfathoni/confident-react-testing

[2019-11-09 11:34] zainfathoni opened #32 "🌏 Navigating i18n in SEA with Gatsby"
who are you and where to find you
---
I'm [Zain Fathoni](https://www.zainfathoni.com), a Senior Software Engineer at [Ninja Van](https://www.ninjavan.co).
You can reach me through [Telegram](https://t.me/zainfathoni) or [Twitter](https://twitter.com/zainfathoni).

intro
---

[Ninja Van](https://www.ninjavan.co) has established its presence in six countries across South East Asia for the past few y

[2019-11-09 12:45] #28 closed, assigned to nobody

[2019-11-09 12:46] wgao19 commented on #32
Ohhhh cool :) Looking forward!

[2019-11-09 13:03] wgao19 opened #33 "🕹 Yet Another Reason to Buy A Switch (that Has Joy-Cons)"
who are you and where to find you
---
I'm Wei. I have a [home on the open web](https://uuei.io/) and a [work-in-progress blog](https://aworkinprogress.dev/). To find me in person you need to come to [SingaporeCSS](singaporecss.github.io/) or [RK](https://reactknowledgeable.org/), or occasionally at other meetups in town.

intro
---

This talk is about [turning a Nintendo Switch's Joy-Con 🕹 into a

[2019-11-09 14:19] #27 closed, assigned to KenLSM

[2019-11-09 14:20] #26 closed, assigned to yishus

[2019-11-09 14:20] #25 closed, assigned to nobody

[2019-11-09 14:23] fajarsiddiqfs commented on #32
Can't wait for this! see you there!

[2019-11-09 14:24] fajarsiddiqfs commented on #31
See you all!

[2019-11-11 16:01] phamtm commented on #25
I updated the slide in the proposal

[2019-11-12 04:09] wgao19 commented on #25
cool, thanks again!

[2019-11-18 01:05] tanhauhau opened #34 "👨🏻‍🔧👷🏻‍♂️ Writing a Gatsby plugin"
who are you and where to find you
---

intro
---

Why use plugin developed by others while you can write your own plugin 🤔

I will share a generic template/steps to write your own plugin, making your Gatsby site one of a kind 😎

resources
---
- video
  https://engineers.sg/video/writing-a-gatsby-plugin--3829

<details>
  <summary>planner</summary>

- I prefer to give this talk at: react-knowledgea

[2019-11-25 07:13] nah611 opened #35 "⚡️ Code splitting 101"
who are you and where to find you
---
An Ha Nguyen (Web FE Order team)

intro of the talk
---

Quick sharing/recap on code splitting in Web FE: how does it work, pros/cons and some thoughts on splitting React components effectively while maintaining high UX.

<details>
  <summary>planner</summary>

- I prefer to give this talk at: Can discuss later, currently I'm not certain about my schedule next

[2019-11-25 11:39] wgao19 commented on #35
Hi An Ha thanks for the proposal! Looks like this is proposing to the internal podium at Shopee is it? I apologize for the confusion but please go ahead create an issue in [this repo](https://github.com/Shopee/shopee-react-knowledgeable/issues). I cannot transfer this issue neither because it does not belong to the same organization.

Regarding time, we don't have to hurry to deliver this. Althoug

[2019-11-25 11:58] wgao19 commented on #29
Follow up: We'll have this talk _Concurrent React from Scratch_ at the internal RK podium of Shopee on **Friday Nov 29, 6pm**, [link to issue here](https://github.com/Shopee/shopee-react-knowledgeable/issues/161). For those of you who are interested to attend: please [DM us on Twitter](https://twitter.com/reknowledgeable/) or [comment on the event issue](https://github.com/Shopee/shopee-react-know

[2019-11-25 14:46] nah611 commented on #35
sure, I'll move it. I have some rough contents to share. Still in process of organizing/researching more of my talk

[2019-11-25 14:46] #35 closed, assigned to nobody

[2019-11-26 00:36] thchia opened #36 "🔁 Quick Quicksort"
who are you and where to find you
---
Thomas Chia. Find me in white t shirts. @th__chia and the author of... this issue.

intro of the talk
---

Once I gave a talk on binary heaps and I enjoyed it (I’m not sure about the audience). I liked it so much I will tackle another topic: Quicksort. Come and learn how to divide and conquer in 10mins (or less).

<details>
  <summary>planner</summary>

- I pr

[2019-11-28 04:23] yishus opened #37 "👯 Sameness in JavaScript"
who are you and where to find you
---

Yishu See, @yishusee on twitter

intro of the talk
---

I'll talk about checking for equality in JS, and slip in a small portion on props comparison.

<details>
  <summary>planner</summary>

- I prefer to give this talk at: react-knowledgeable/events#7
- Number of minutes needed to ⚡️: 8
- [x] I am happy to have this talk recorded by @engineersftw (by default

[2019-11-28 06:02] wgao19 commented on #37
I like your choice of emoji 🙆🏻‍♀️

[2019-12-03 01:58] email2vimalraj opened #38 "🌊 Adding Codewaves into gatsby blog"
who are you and where to find you
---
My name is Vimalraj Selvam. I am a Staff Software Engineer at Visa Worldwide Pte Ltd. I build various visualisation tools using React for my company which is heavily used by the command center teams. I am mostly reachable via [twitter](https://twitter.com/email2vimalraj).

intro
---

Recently Mr. [Rodrigo Pombo](https://github.com/pomber) had published a post

[2019-12-03 03:52] wgao19 commented on #38
Oh nice!

On a personal note, will you talk about its internals? I'm really curious how it's built since it shares a similar take with my approach

[2019-12-06 03:41] wgao19 commented on #33
resources
---
- talk script + slides
  https://uuei.io/talks/yet-another-reason-to-buy-a-switch-that-has-joy-cons/
- video
  https://engineers.sg/v/3825

[2019-12-06 03:41] #33 closed, assigned to nobody

[2019-12-06 03:44] wgao19 commented on #38
hey @email2vimalraj thank you for the talk! could you plz help update your slides / any resources in the resources section?

[2019-12-06 03:44] #38 closed, assigned to nobody

[2019-12-06 03:54] thchia commented on #30
[Slides](https://docs.google.com/presentation/d/1gr294EhEn-Gmwyc6mvoujWfJhGqMvHs7Y8BpLzZcIn8)

[Video](https://youtu.be/3uv9RLBM-80)

[2019-12-06 03:54] #30 closed, assigned to nobody

[2019-12-06 04:01] wgao19 commented on #34
hi @tanhauhau thank you for the talk, could you please help update slides / links in the resources section?

[2019-12-06 04:01] #34 closed, assigned to nobody

[2019-12-06 04:03] wgao19 commented on #31
hi @thorsten-stripe thank you for the talk!

[2019-12-06 04:03] #31 closed, assigned to nobody

[2019-12-06 04:05] wgao19 commented on #32
hey @zainfathoni thank you for the talk! could you please update slides / links in the resources section?

will close this issue now, feel free to update the content and it will be picked up by our website in the next release

[2019-12-06 04:05] #32 closed, assigned to nobody

[2019-12-06 04:06] wgao19 commented on #29
hey @sw-yx  thank you for the talk!

will close this issue now, if you have slides / links to share, feel free to update the content and it will be picked up by our website in the next release

[2019-12-06 04:06] #29 closed, assigned to nobody

[2019-12-08 06:45] tanhauhau opened #39 "👀 Changeness in JavaScript"
speaker
---

Tan Li Hau
Twitter: @lihautan

intro
---

Tangentially related to https://github.com/react-knowledgeable/talks/issues/37, it's about how do framework know what has changed, to provide the "reactiveness" to the developer?

resources
---

<details>
  <summary>planner</summary>

- I prefer to give this talk at: https://github.com/react-knowledgeable/events/issues/7
- Number of minutes ne

[2019-12-09 02:52] yishus commented on #37
@wgao19 @thchia ah i forgot i'll be out of town 9 jan. putting this down for feb one first 🙇‍♀

[2019-12-09 02:53] yishus commented on #39
@tanhauhau i'll be out of town 9 jan 😔 putting my talk down for feb instead

[2019-12-09 03:25] wgao19 commented on #37
ok noted, reference again react-knowledgeable/events#7

[2019-12-09 04:22] tanhauhau commented on #39
well.... i'll create a talk that matches thomas's talk 😏  and move this to Feb then

[2019-12-09 04:31] tanhauhau opened #40 "🔃 Tim Sort"
speaker
---

Tan Li Hau
Twitter: @lihautan

intro
---

Related to https://github.com/react-knowledgeable/talks/issues/36, let's look into another sorting algorithm, Timsort.

Java's [Arrays.sort](https://docs.oracle.com/javase/7/docs/api/java/util/Arrays.html#sort(java.lang.Object[])), Python's [list.sort](https://docs.python.org/3.3/howto/sorting.html?highlight=timsort#sorting-how-to), and recent

[2019-12-10 18:05] KenLSM opened #41 "🌳 B-Trees"
speaker
---

I'm Ken. I wear long pants and collared tees only when I am speaking or hosting.
Twitter: kenleesm

intro
---

Going along with the sorting algorithm theme, I will talk why B-Trees is developed and where it is used and which doesn't simply sorts an input but returns to you as a structured data. This tree is not commonly found in your daily usage.
If you are using B-Trees in your FE wo

[2019-12-11 01:20] wgao19 commented on #41
omg great algo party in the jan event

[2019-12-22 18:18] SheldonCheng opened #42 "💠 Atomic Styling with Styled System"
speaker
---
Sheldon, @sheldytox on Twitter

intro
---

With Styled System, you combine the best parts of Styled Components and atomic/utility styles! I'll talk about building layouts quickly using Styled System, then step back and touch on how it helps at a design system level.

resources
---

https://styled-system.com/

<details>
  <summary>planner</summary>

- I prefer to give this talk at: reac

[2019-12-24 13:33] wgao19 commented on #42
hey @SheldonCheng is this more of a css talk?

[2019-12-26 02:46] SheldonCheng commented on #42
Hey @wgao19 , it's more of a styled-components talk. Mark Dalgleish [talked abit](https://youtu.be/jnV1u67_yVg?t=426) about this at ReactiveConf recently. I've tweaked the talk name to be less confusing.

[2020-01-09 15:48] yeokm1 opened #43 "✈️ How to land a light aircraft if the pilot passes out?"
speaker
---
Yeo Kheng Meng. IoT Engineer in SP Digital. Retrocomputing enthusiast. Private Pilot.
@yeokm1

intro
---

Flying in a light aircraft seems cool and fun until your pilot passes out. From the most thrilling joyride in your life to your worst nightmare.

In my talk, I'll try to teach the bare minimum knowledge required to give you the best chance to get the plane safely on the ground. Who

[2020-01-14 15:29] wgao19 commented on #37
Hello @yishus, (as per discussed in our RK group chat already) we are planning to do a CFP special edition this month (see react-knowledgeable/events#7). I'm wondering --

Can your proposal above potentially be a conference talk proposal to you? If so, would like your help to gear this talk towards the format per described in the event issue.

If not, do you have any subjects that you _may_ want t

[2020-01-14 15:29] wgao19 commented on #39
Hello @tanhauhau, we are planning to do a CFP special edition this month (see react-knowledgeable/events#7). I'm wondering --

Can your proposal above potentially be a conference talk proposal to you? If so, would like your help to gear this talk towards the format per described in the event issue.

If not, do you have any subjects that you _may_ want to submit to any conferences? It doesn't have

[2020-01-14 15:29] wgao19 commented on #43
Hello @yeokm1, we are planning to do a CFP special edition this month (see react-knowledgeable/events#7). I'm wondering --

Can your proposal above potentially be a conference talk proposal to you? If so, would like your help to gear this talk towards the format per described in the event issue.

If not, do you have any subjects that you _may_ want to submit to any conferences? It doesn't have to

[2020-01-14 17:10] yeokm1 commented on #43
I don't think I can convert my talk to this format. Hmm, how about I postpone this to the following RK event?

[2020-01-23 06:38] wgao19 commented on #43
hey @yeokm1 let's postpone to the following event then :)

[2020-01-23 07:01] yeokm1 commented on #43
No prob. March should be fine but do advise on the date. I can't do 3 Mar as that is Hackware day first Tue of the month.

[2020-01-27 12:08] wgao19 commented on #43
ok noted, we'll likely be a Thursday, will let you know once we confirm our date.

[2020-01-27 12:08] #41 closed, assigned to KenLSM

[2020-01-27 12:09] wgao19 commented on #41
thank you for this talk! (video is your own self edit and upload wo 😜)

[2020-01-27 12:09] wgao19 commented on #42
closing because delivering at singaporecss, thank you still for preparing for this talk :)

[2020-01-27 12:09] #42 closed, assigned to nobody

[2020-01-27 12:11] wgao19 commented on #39
hi @tanhauhau i'm wondering if you are ok to deliver this at our march event, projected mar 5 or 12

[2020-01-27 12:11] wgao19 commented on #40
thanks for this talk!

[2020-01-27 12:11] #40 closed, assigned to nobody

[2020-01-27 12:11] wgao19 commented on #37
hi @yishus  i'm wondering if you are ok to deliver this at our march event, projected mar 5 or 12

[2020-01-27 12:13] wgao19 commented on #36
thank you for this talk :)

[2020-01-27 12:13] #36 closed, assigned to nobody

[2020-01-28 00:40] huijing opened #44 "🧵 what is this? why must bind?"
speaker
---
Chen Hui Jing. Scheming to procure cheaper Nintendo Switch games.

intro
---

What is "this"? How come last time got `var that = this`? Why must bind? Bind to what? So many questions. Maybe got answers. Maybe got… React O_O

resources
---

WIP

<details>
  <summary>planner</summary>

- I prefer to give this talk at: react-knowledgeable/events#7
- Number of minutes needed to ⚡️: Still t

[2020-01-28 14:34] yishus commented on #37
yup 12 mar definitely okay, 5 mar is tentative for me now

[2020-02-24 08:14] yeokm1 commented on #43
@wgao19 Can I check what date will the meetup roughly be? I'm ok to present even if it's just virtually but yeah I need for my planning purposes.

[2020-02-24 09:09] wgao19 commented on #43
Hey @yeokm1 unfortunately the physical meetup is not happening until DORSCON drops :( I guess we can forget about this for now

[2020-02-24 09:16] yeokm1 commented on #43
@wgao19 Alright, I can still be open for this talk some time in the future bah. Ping me when you decide to resume the meetup.

[2020-02-24 10:13] wgao19 commented on #43
Ok, thank you!

[2020-03-10 13:39] thchia opened #45 "🧔 No Monads for Breakfast"
speaker
---

Thomas Chia, find me in Uniqlo near white t shirt shelf. Unsuccessfully ordered char kway teow in an English tea room (in England) aged 8.

intro
---

In the beginning, monads were burritos. Now apparently they are not. I try somewhat unsuccessfully to find out why.

resources
---

TBA

<details>
  <summary>planner</summary>

- I prefer to give this talk at: react-knowledgeable/events

[2020-03-10 13:40] thchia commented on #45
@wgao19 if I do this at shopee RK, then event number is not relevant, and I think not limited to lightning talk also?

[2020-03-10 14:12] wgao19 commented on #45
Hey @thchia correct not limited to lightning talk, you have whenever you show up at hackerspace till 6:55

I will reference the correct issue from Shopee's repo :)

Looking forward to e-seeing you!

[2020-03-10 14:14] wgao19 commented on #45
Referencing this week's Shopee/shopee-react-knowledgeable#185

[2020-06-30 15:16] SmokinClove opened #46 "🐈ワタシは猫ではない/i am a cat not"
speaker
---
Hello, i am Van, a member of the Web Front End team in Shopee.

intro
---

Besides Javascript, i also use 3 human languages everyday: Vietnamese, English and Japanese.
As these 3 languages have some interesting differences, i thought it'd be fun to use a few example sentences to compare them side by side. No, not Javascript. (Un)fortunately.

<details>
  <summary>planner</summary>

- I

[2020-08-17 01:55] wgao19 commented on #46
Thanks for this sharing! [Here's link to video](https://youtu.be/ICBZLAPdgOo?t=299) :)

[2020-08-17 01:55] #46 closed, assigned to nobody